* { margin: 0; padding: 0; }

/****************   General Styling **********************/
body {
  background-image: url("https://images.unsplash.com/photo-1755544212941-9c450ef4d369?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  font-family: "Almendra Display", serif;
  font-weight: 1000;
  font-size: larger;
}

body a{
  color: black;
}

body a:hover{
  color: crimson;
}

.under {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  
}

.underContact {
  display: flex;
  align-items: space-around;
  justify-content: center;
  gap: 20px;
  margin: 72px
}

.main {
  display: flex;
}

/**************   Mobile   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
      
    }

    .sNav {
      display: none;
    }

    header {
      max-width: 500px;
    }

    .section {
      max-width: 500px;
    }

    .underContact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 72px
    } 

    .three-col {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr;
    }
}

@media (min-width: 681px) {
    .three-col {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
    }
}

/****************   Nav Section **********************/
nav {
  display: flex;
  justify-content: space-between;
  color:aliceblue;
  padding: 20px;
  align-items: center;
  border: 5px ridge #0e3417;
  background-image: url("https://images.unsplash.com/photo-1702635396989-820636094313?q=80&w=2027&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

nav a {
  color:aliceblue;
}

nav div {
  display: flex;
  gap: 15px;
}

/****************   Sticky Nav Section **********************/

.sNav {
  position: sticky;
  top: 0;
  z-index: 90;
  color:aliceblue;
  margin: 20px;
  padding: 10px;
  border: solid #0e3417;
  border-radius: 10px;
  border-width: 5px;
  height: fit-content;
  background-image: url("https://images.unsplash.com/photo-1702635396989-820636094313?q=80&w=2027&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.sNav a {
  color:aliceblue;
}

/****************   Header Section **********************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 15px;
  padding: 20px;
  border: solid #0e3417;
  border-radius: 10px;
  border-width: 5px;
  background-color: rgba(110, 143, 74, 0.3); 
}

header h1 {
  font-family: "Almendra SC", serif;
  color: #0e3417;
}

header img {
  border: solid #0e3417;
  border-radius: 10px;
  border-width: 5px;
}

.splash {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 15px;
}

.address {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline {
  margin-top: 20px;
  border-left: solid #0e3417;
  border-right: solid #0e3417;
  padding: 10px;
}

/****************  Section  **********************/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 15px;
  padding: 20px;
  margin-top: 20px;
  border: solid #0e3417;
  border-radius: 10px;
  border-width: 5px;
  background-color: rgba(110, 143, 74, 0.3);
} 

.section h1 {
  font-family: "Almendra SC", serif;
  color: #0e3417;
}

.section img {
  border: solid #0e3417;
  border-radius: 10px;
  border-width: 5px;
}

.section dt {
  font-family: "Almendra SC", serif;
  color: #0e3417;
  font-size: larger;
  border: solid #0e3417;
  border-radius: 10px;
  border-width: 3px;
}

.section dt a{
  color: #0e3417;
}

.bigLink {
  font-family: "Almendra SC", serif;
  color: darkred;
  font-size: larger;
}

/****************  Cards  **********************/

.card img {
  border: solid #0e3417;
  border-radius: 10px;
  border-width: 5px;
}

.card {
  border: solid #0e3417;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border-width: 5px;
  color:aliceblue;
  padding: 15px;
  background-image: url("https://images.unsplash.com/photo-1702635396989-820636094313?q=80&w=2027&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/****************  Forms  **********************/

button {
  background-color:darkred;
  border-width: 2px;
  border: solid rgb(64, 0, 0);
  border-radius: 5px;
  padding: 2px;
  font-family: "Almendra Display", serif;
  font-weight: 1000;
  font-size: large;
  color: aliceblue
}

button:hover {
  background-color:crimson;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  width: 300px;
  height: 150px;
  border: solid #0e3417;
  border-radius: 5px;
  border-width: 5px;
  background-color: rgb(229, 245, 179);
  font-family: "Almendra Display", serif;
  font-weight: 1000;
}

input {
  border: solid #0e3417;
  border-radius: 5px;
  border-width: 5px;
  background-color: rgb(229, 245, 179);
  font-family: "Almendra Display", serif;
  font-weight: 1000;
}

textarea:focus, input:focus {
  outline: none;
  border-color: darkred;
}

/****************  Footer  **********************/
footer {
  display: flex;
  justify-content: center;
  color:aliceblue;
  padding: 20px;
  align-items: center;
  border: 5px ridge #0e3417;
  background-image: url("https://images.unsplash.com/photo-1702635396989-820636094313?q=80&w=2027&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

footer a {
  color:aliceblue;
}

/**************** Portfolio  **********************/

.collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.collage img {
  border: solid #0e3417;
  border-radius: 10px;
  border-width: 5px;
  margin: 10px;
}
